{% extends "layout.html" %}
{% block body %}
    <style>
        
        .folders, .files {
            margin-top: 0px;
            margin-bottom: 0px;
            text-align: center;
            min-height: 120px;
            padding-top: 0px;
            
        }
        
        .folders {
        }
        
        .folder_img {
            width: 60px;
            cursor: pointer;
        }
        
        .file_img {
            width: 40px;
            cursor: pointer;
            transition: all 0.3s ease;
        }
        
        .selected > .file_img {
            transition: all 0.3s ease;
            border: solid 3px #337ab7;
            padding: 2px;
            width: 55px;
            border-radius: 2px;
            background: lightgray;
        }
        
        #empty_msg {
            text-align: center;
            color: #bbbbbb;
            margin-top: 100px;
        }
        
        #make_modal, #import_btn, #delete_btn {
            width: 10em;
            position: fixed;
            right: 20px;
        }
        
        #import_btn {
            bottom: calc(64px + 64px + 20px);
        }
        
        #make_modal {
            bottom: calc(64px + 20px);
        }
        
        #delete_btn {
            bottom: 20px;
        }
        
        #arrow_col {
            text-align: left;
        }
        
        #title_col {
            text-align: center;            
        }
        
        #preview_col {
            text-align: right;
        }
        
        #arrow_col, #title_col, #preview_col {
            position: relative;
            top: 20px;
            transform: translateY(-50%);        
        }
        
        #up_arrow, #pg_title, #preview { 
            margin: 0px; 
            padding: 0px;
        }
        
        #pg_title > a {
            color: #2e6da4;
            text-decoration: none;
            transition: color 0.2s ease;
        }
        
        #pg_title > a:hover {
            color: #337ab7;
        }
        
        #up_arrow {
            font-size: 25px;
            cursor: pointer;
            color: #333333;
            transition: color 0.2s ease;
        }
        
        #up_arrow:hover {
            color: #666666;
        }
        
        
        
        #warning {
            display: none;
            position: fixed;
            top: 20px;
            left: 50%;
            transform: translateX(-50%);
        }
    </style>
    
    <div class="row" style="padding: 10px 20px 30px 20px;">
        <div id="arrow_col" class="col-xs-2">
            {% if data.dir_path and data.dir_path not in ["/", " / "] %}
                <span id="up_arrow" class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
            {% endif %}
        </div>
        <div id="title_col" class="col-xs-8">
            <h3 id="pg_title"><a href='/files'>Home</a> / {{data.dir_path | replace("_", " ") | replace("/", " / ")}}</h3>
        </div>
        <div id="preview_col" class="col-xs-2">
            <!--label id="preview" class="checkbox-inline">
                <input type="checkbox" id="preview_check"> <h4>Preview</h4>
            </label>
            <div class="pretty success smooth">
              <input type="checkbox"> 
              <label><i class="mdi mdi-check"></i> Preview</label>
            </div>
            <div class="tag">Checkbox Small</div>
                <input type="checkbox" id="checkbox-1-1" class="regular-checkbox" /><label for="checkbox-1-1"></label>
            </div>
            <div class="checkbox unchecked">
                <span class="check unchecked glyphicon glyphicon-ok" aria-hidden="true"></span>
            </div-->
        </div>
    </div>
    
    <div id="container">
        {% if data.folders %}
            <div id="folders_row" class="row"></div>
        {% endif %}
        {% if data.files %}
            <div id="files_row" class="row"></div>
        {% endif %}
        
        {% if not data.folders and not data.files %}
            <h2 id="empty_msg">Nothing Here</h2>
        {% endif %}
        
        <button id="import_btn" class="btn btn-lg btn-primary shadow">New Document</button>
        <button id="make_modal" type="button" class="btn btn-lg btn-default shadow" 
            data-toggle="modal" data-target="#new_folder_modal">
                New Folder
        </button>
        <button id="delete_btn" class="btn btn-lg btn-default shadow">Delete</button>

        <!-- new folder Modal -->
        <div class="modal fade" id="new_folder_modal" tabindex="-1" role="dialog" aria-labelledby="new_folder_modal_label">
         <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="new_folder_modal_label">New Folder</h4>
            </div>
            <div class="modal-body">
                <input id="folder_name" type="text"class="form-control" placeholder="Folder Name"></input><br>
                <textarea id="folder_description" class="form-control" placeholder="Folder Description (optional)"></textarea>
            </div>
            <div class="modal-footer">
                <button id="new_folder_btn" type="button" class="btn btn-primary" data-dismiss="modal">Done</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
          </div>
         </div>
        </div>
    </div>
    
    <!-- alerts -->
    <div id="warning" class="alert alert-warning" role="alert"></div>

{% endblock %}

{% block js %}
    <script>
        {% if data.dir_path and data.dir_path not in ["/", " / "] %}
            $("#up_arrow").on("click", function () {
                var dirs = "{{data.dir_path | safe}}".split("/");
                if(! dirs[dirs.length - 1])
                    dirs.pop();
                
                dirs.pop(); // remove last location in url
                
                window.location.href="/files/" + dirs.join("/");
            });
        {% endif %}
        
        $(".checkbox").on("click", function () {
            $(this).toggleClass("unchecked").toggleClass("checked");
            $(this).children().toggleClass("unchecked").toggleClass("checked");
            console.log("click");
        });
        
        // title resizing
        replacement_done = false;
        function title_size() {
            if ( $(window).width() < 600 && $("#pg_title").html().length > 30 ) {
                $("#pg_title").replaceWith("<h4 id='pg_title'>" + $("#pg_title").html() + "</h4>");
                replacement_done = true;
            }
            else if (replacement_done) {
                $("#pg_title").replaceWith("<h3 id='pg_title'>" + $("#pg_title").html() + "</h3>");
                replacement_done = false;
            }
        }
        title_size();
        $(window).resize(function(){
            title_size();
        });
        
        function populate() {
            var folder_desc = {{  data.folder_descriptions | safe}};
            
            var folders_row = $("#folders_row");
            var folders = {{ data.folders|safe }};
            var folders_jq = [];        
            var folder_img = "<img src='{{url_for('static', filename='images/folder.png')}}' class='folder_img' ></img>";        
            var temp_folder = null;
            var temp_folder_str = "";
            var lower_folder_name = "";
            
            for( var i = 0; i < folders.length; i++) {
                temp_folder_str = "<div id='folder_"+ i +"' class='col-lg-2 col-md-2 col-sm-3 col-xs-4 folders'>"+folder_img +"<br>"+folders[i].replace(/_/g, " ") +"</div>";
                temp_folder = $(temp_folder_str);
                lower_folder_name = folders[i].toLowerCase();
                if ( typeof( folder_desc[ lower_folder_name ] ) !== "undefined" && folder_desc[ lower_folder_name ] !== "") {
                    temp_folder.prop('title', folder_desc[ lower_folder_name ]);
                }
                
                temp_folder.on("click", {"folder_name": folders[i]}, function(event){
                    window.location.href += "/" + event.data.folder_name;
                });
                folders_jq.push(temp_folder);
            }
            
            folders_row.append(folders_jq);
            
            
            var file_desc = {{  data.file_descriptions | safe}};
            console.log(file_desc);
            
            var files_row = $("#files_row");        
            var files = {{data.files|safe}};        
            var files_jq = [];
            var file_img = "<img src='{{url_for('static', filename='images/paper.png')}}' class='file_img' ></img>";
            var temp_file = null;
            var lower_file_name = "";
            
            for( var i = 0; i < files.length; i++) {
                temp_file = $("<div id='file_"+ i +"' class='col-lg-2 col-md-2 col-sm-3 col-xs-4 files'>"+file_img+"<br>"+ files[i].replace(/_|.pdf/g, " ") +"</div>");
                lower_file_name = files[i].toLowerCase();
                if ( typeof( file_desc[ lower_file_name ] ) !== "undefined" && file_desc[ lower_file_name ] !== "") {
                    temp_file.prop('title', file_desc[ lower_file_name ]);
                    console.log("setting title for " + lower_file_name);
                }
                else
                    console.log("not setting title for" + lower_file_name);
                temp_file.on("click", {"file_name": files[i]}, function(event){
                    window.location.href = "{{data.view_file_path | safe}}" + event.data.file_name;
                });
                files_jq.push(temp_file);
            }
            
            files_row.append(files_jq);
        }
        
        populate();
        
        $("#import_btn").on("click", function(){
            localStorage.setItem("import_location", "{{data.dir_path | safe}}");
            window.location.href="/import";
        });
        
        $("#new_folder_btn").on("click", function() {
            $.post( "/newfolder", { "target": "{{data.dir_path | safe}}" + $("#folder_name").val().replace(/\//g, "") , "description": $("#folder_description").val()})
                .done(function (data) {
                    if (data === "thumbs up")
                        location.reload(true);
                    else if(data.substring(0, 5) === "error")
                        $("#warning").html(data.split(":")[1].trim()).fadeIn(300).delay(1600).fadeOut(300);
                });
        });
        
        to_delete = {"empty_folders": [], "full_folders": [], "files": []}
        full_folders = [];
        
        $("#delete_btn").on("click", function(){
            var folders = {{ data.folders|safe }};
            var files = {{ data.files | safe }};
            
            if (files) {
                $("#files_row").html("");
                    
                var file_desc = {{  data.file_descriptions | safe}};
                console.log(file_desc);
                
                var files_row = $("#files_row");      
                var files_jq = [];
                var file_img = "<img src='{{url_for('static', filename='images/paper.png')}}' class='file_img' ></img>";
                var temp_file = null;
                var lower_file_name = "";
                
                for( var i = 0; i < files.length; i++) {
                    temp_file = $("<div id='file_"+ i +"' class='col-lg-2 col-md-2 col-sm-3 col-xs-4 files'>"+file_img+"<br>"+ files[i].replace(/_|.pdf/g, " ") +"</div>");
                    lower_file_name = files[i].toLowerCase();
                    if ( typeof( file_desc[ lower_file_name ] ) !== "undefined" && file_desc[ lower_file_name ] !== "") {
                        temp_file.prop('title', file_desc[ lower_file_name ]);
                        console.log("setting title for " + lower_file_name);
                    }
                    else
                        console.log("not setting title for" + lower_file_name);
                    temp_file.on("click", {"file_name": files[i]}, function(event){
                        if (to_delete["files"].indexOf(event.data.file_name) < 0) {
                            // selected
                            to_delete["files"].push(event.data.file_name);
                            $(this).addClass("selected");
                        }
                        else {
                            to_delete["files"].splice(to_delete["files"].indexOf(event.data.file_name), 1);
                            $(this).removeClass("selected");
                        }
                    });
                    files_jq.push(temp_file);
                }
                
                files_row.append(files_jq);
               
            }
            
            if (folders) {
                $("#folders_row").html("");
            }
            
        });
        
    </script>
{% endblock %}


