<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Paperwork</title>

    <!-- Bootstrap -->
    <link href="{{url_for('static', filename='bootstrap/css/bootstrap.min.css')}}" rel="stylesheet" type="text/css">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='pretty.min.css') }}">
    <script src="{{url_for('static', filename='jquery-3.1.1.min.js')}}"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <style>
        #warning, #danger, #info, #success, #default {
            display: none;
            position: fixed;
            top: 20px;
            left: 50%;
            transform: translateX(-50%);
        }
    </style>

    {% block head %}{% endblock %}
</head>
<body>
    <div id="main_container" class="container-fluid">
        {% block body %}{% endblock %}

    <!-- alerts -->
    <div id="default" class="alert alert-default" role="alert"></div>
    <div id="info" class="alert alert-info" role="alert"></div>
    <div id="success" class="alert alert-success" role="alert"></div>
    <div id="warning" class="alert alert-warning" role="alert"></div>
    <div id="danger" class="alert alert-danger" role="alert"></div>
    </div>
    <script src="{{url_for('static', filename='bootstrap/js/bootstrap.min.js')}}"></script>

    <script>
        stop_beat = false;
        function heartbeat() {
            $.ajax({
              method: "GET",
              url: "/heartbeat"
            })
            .done(function( data ) {
              if (data === "stop") {
                stop_beat = true;
              }
            });

            if (stop_beat) {
              console.log("stopping heartbeat");
              return;
            }

            console.log("starting heartbeat timer");

            setTimeout(heartbeat, 4000);
        }
        heartbeat();

        // My Flash Messaging System
        // I expect msg_ready, msg_type, msg_time, and msg in local storage
        // all must be strings, except for msg_time which is an int
        if (localStorage.getItem("msg_ready") === "true") {
            console.log("working on a message");
            localStorage.setItem("msg_ready", "false");
            $("#"+localStorage.getItem("msg_type"))
                .text(localStorage.getItem("msg"))
                .fadeIn(300)
                .delay(localStorage.getItem("msg_time"))
                .fadeOut(300);
        }
    </script>

    {% block js %}{% endblock %}
</body>
