{% extends "layout.html" %}
{% block head %}
  <style>
    #main_container {
      padding-top: 40px;
    }

    t {
      font-size: 9px;
      display: inline-block;
    }
    .top_label {
      padding-bottom: 7px;
      line-height: 20px;
    }

    table {
      width: 100%;
      font-size: 9px;
    }
    td {
      padding: 0px;
      margin: 0px;
    }
    th, td {
      border: solid 1px #aaa;
      text-align: center;
      min-height: 28px;
    }
    th {
      font-weight: bold;
      width: 12%;
      border-bottom: solid 1px #777;
      padding: 5px;
    }
    td.date {
      padding: 5px;
    }

    .same_day {
      font-weight: 600;
      /*background-color: #e8e8e8;*/
    }

    /*out same day head*/
    /*in same day head*/
    /*initial same day head*/
    th.i_sd, th.o_sd, th.in_sd  {
      border-top: solid 2px #222;
      color: #4a4a4a;
      font-weight: 100;
    }
    /*initial same day head*/
    /* began parent initials head */
    .in_sd, .b_p_i  {
      border-right: solid 2px #222;
    }

    .last_row > td.o_sd, .last_row > td.i_sd, .last_row > td.in_sd {
      border-bottom: solid 2px #222;
    }

    td.date {
      font-size: 10px;
    }

    td.same_day {
      padding: 0px;
    }

    img.bg_color {
      width: 60%;
      height: 100%;
      margin-left: auto;
      margin-right: auto;
      padding: 0px;
      opacity: 0;
    }

    .sigs {
      padding-top: 40px;
    }
    .sigs.director {padding-left: 160px;}

    .sam_btn {
      position: fixed;
      bottom: 20px;
      right: 20px;
      transition: all 1.3s ease;
    }


    @media print {
      .break_after {page-break-after: always;}

      div { float: none !important; position: static !important; display: inline;
            box-sizing: content-box !important;
      }

      body { overflow: visible;}

      hr {opacity: 0}

      #main_container { padding-top: 0px;}

      .sam_btn { display: none; }
    }


  </style>
{% endblock %}
{% block body %}
  <div id='state_data'></div>
  <!--t class="top_label">STATE PAY SIGN IN SHEET FOR February 2017<br>
  GLAD TIDINGS ACADEMY AND CHILD DEVELOPMENT CENTER   #000783264<br>
  PARENT:  Anna Nunley<br>
  CHILD:  Courtney Rice<br>
  CHILD DCN: 0065027087</t>

  <table>
    <tr>
      <th>DATE</th> <th>TIME BEGAN</th>
      <th class="b_p_i">PARENT/GAURDIAN''S INITIALS</th>
      <th class="same_day o_sd">Time Out if Returning the Same Day</th>
      <th class="same_day i_sd">Time In if Returning the Same Day</th>
      <th class="same_day in_sd">Parent/Guardian’s Initials</th>
      <th>TIME ENDED</th>	<th>PARENT/GUARDIAN’S INITIALS</th>
    </tr>
    <tr><td class="date">3/1/17</td>
      <td></td> <td class="b_p_i"></td>
      <td class="same_day o_sd">
        <img class="bg_color" src="/static/images/e8e8e8.png"/>
      </td>
      <td class="same_day i_sd">
        <img class="bg_color" src="/static/images/e8e8e8.png"/>
      </td>
      <td class="in_sd same_day">
        <img class="bg_color" src="/static/images/e8e8e8.png"/>
      </td>
      <td></td> <td></td>
    </tr>
    <tr class="last_row"><td class="date">3/2/17</td>
      <td></td> <td class="b_p_i"></td>
      <td class="same_day o_sd">
        <img class="bg_color" src="/static/images/e8e8e8.png"/>
      </td>
      <td class="same_day i_sd">
        <img class="bg_color" src="/static/images/e8e8e8.png"/>
      </td>
      <td class="in_sd same_day">
        <img class="bg_color" src="/static/images/e8e8e8.png"/>
      </td>
      <td></td> <td></td>
    </tr>
  </table>
  <t class="sigs">Signiture:_____________________________</t>
  <t class="sigs director">Director:_________________________________</t>
  <hr class="break_after"-->
{% endblock %}

{% block js %}
<script>
  this_group = null;
  top_label_str = null;
  now = new Date();
  this_date = new Date(now.getFullYear(), now.getMonth()+1, 1); // next month, 1st, 2017
  month_names = ["January", "February", "March", "April", "May", "June",
    "July", "August", "September", "October", "November", "December"
  ];
  this_child = null;
  children = {{data.children | safe}};

  function populate() {
    $("#state_data").html("");
    let last_date = (new Date(this_date.getFullYear(), this_date.getMonth()+1, 0))
                        .getDate();// last date of the month

    let day_of_week;

    let table_str = "<table>";
    table_str +=  "<tr>";
    table_str +=    "<th>DATE</th> <th>TIME BEGAN</th>";
    table_str +=    "<th class='b_p_i'>PARENT/GAURDIAN'S INITIALS</th>";
    table_str +=    "<th class='same_day o_sd'>Time Out if Returning the Same Day</th>";
    table_str +=    "<th class='same_day i_sd'>Time In if Returning the Same Day</th>";
    table_str +=    "<th class='same_day in_sd'>Parent/Guardian’s Initials</th>";
    table_str +=    "<th>TIME ENDED</th>	<th>PARENT/GUARDIAN’S INITIALS</th>";
    table_str +=  "</tr>";

    for (let day = 1; day <= last_date; day++) {
      day_of_week = (new Date(this_date.getFullYear(), this_date.getMonth(), day)).getDay();
      if (day_of_week == 0 || day_of_week == 6)
        continue;

      // last day could be any of the last 3 days of the month
      if (day >= last_date - 2) { // TODO use string splicing to inject this
        switch (day) {
          case last_date:
            table_str += "<tr class='last_row'>";
          break;

          case last_date - 2:
          case last_date - 1:
            // check if tomorrow is on the weekend.
            // If tomorrow is on the weekend, the next iteration will continue
            // and the following will also continue, if it happens
            // and that iteration will be the last.
            // So, this is the last successful iteration.
            day_of_week = new Date(this_date.getFullYear(), this_date.getMonth(),
                                      day + 1).getDay();
            if (day_of_week == 0 || day_of_week == 6) {
              table_str += "<tr class='last_row'>";
            }
          break;

        }
      }
      else
        table_str += "<tr>";

      table_str +=  "<td class='date'>"+ (this_date.getMonth()+1) +"/"+ day;
      table_str +=                    "/"+ this_date.getFullYear() +"</td>";
      table_str +=  "<td></td> <td class='b_p_i'></td>";
      table_str +=  "<td class='same_day o_sd'>";
      table_str +=     "<img class='bg_color' src='/static/images/e8e8e8.png'/>"
      table_str +=   "</td>";
      table_str +=   "<td class='same_day i_sd'>";
      table_str +=      "<img class='bg_color' src='/static/images/e8e8e8.png'/>";
      table_str +=   "</td>";
      table_str +=   "<td class='in_sd same_day'>";
      table_str +=      "<img class='bg_color' src='/static/images/e8e8e8.png'/>";
      table_str +=   "</td>";
      table_str +=   "<td></td> <td></td>";
      table_str +=   "</tr>";
    }

    table_str += "</table>";


    console.log("first half of populate done. Time is ");
    console.log(new Date().getSeconds() +" : "+ new Date().getMilliseconds());

    let sigs_str = "<t class='sigs'>Signiture:___________________________________</t>";
    sigs_str += "<t class='sigs director'>Director:_______________________________________</t>";
    let breaker = "<hr class='break_after' />";

    for (let id = 0; id < children.length; id++) {
      this_group = $("<div id='group_'"+id+"'' class='group'></div>");
      $("#state_data").append(this_group);

      this_date;
      this_child = children[id];

      top_label_str = "<t class='top_label'>STATE PAY SIGN IN SHEET FOR ";
      top_label_str += month_names[this_date.getMonth()] +" ";
      top_label_str += this_date.getFullYear() +"<br>";
      top_label_str += "GLAD TIDINGS ACADEMY AND CHILD DEVELOPMENT CENTER   #000783264<br>";
      top_label_str += "PARENT:  "+ this_child[0] +"<br>";
      top_label_str += "CHILD:  "+ this_child[1] +"<br>";
      top_label_str += "CHILD DCN: "+ this_child[2] +"</t>";

      this_group.append($(top_label_str));

      this_group.append($(table_str));

      this_group.append($(sigs_str));

      // don't put a page break after last section
      if (id != children.length - 1)
        this_group.append($(breaker));

    }

    console.log("leaving populate. Time is ");
    console.log(new Date().getSeconds() +" : "+ new Date().getMilliseconds());
  }
  populate();

  $("#main_container").append("<button id='month_btn' class='btn btn-primary sam_btn'>Next Month</button>");
  next_month = true;
  $("#month_btn").on("click", function () {
    $(this).toggleClass("btn-success").toggleClass("btn-primary");

    if (next_month) {
      next_month = !next_month;
      $(this).html("This Month");
      this_date = new Date(now.getFullYear(), now.getMonth(), 1); // this month, 1st, 2017
    }
    else {
      next_month = !next_month;
      $(this).html("Next Month");
      this_date = new Date(now.getFullYear(), now.getMonth()+1, 1); // next month, 1st, 2017
    }

    console.log("\n\nstarting populate. Time is ");
    console.log(new Date().getSeconds() +" : "+ new Date().getMilliseconds());
    populate();
    console.log("done with populate. Time is ");
    console.log(new Date().getSeconds() +" : "+ new Date().getMilliseconds());
  });
</script>
{% endblock %}
