{% extends "layout.html" %}
{% block body %}
    <style>
        html, body { overflow-y: hidden; }
        
        #pdf_embed {
            width: calc(80% - 20px);
            height: calc(100% - 105px);
            margin-right: auto;
            margin-left: auto;
            display: block;
            border: solid 1px #202020;
        }    
        
        #left_btn, #right_btn {
            position: fixed;
            top: 50%;
            font-size: 4em;
            cursor: pointer;
        }
        
        #left_btn {
            left: 10px;
        }
        
        #right_btn {
            right: 10px;
        }
        
        #this_btn {
            position: fixed;
            bottom: 13px;
            left: 50%;
            transform: translateX(-50%);
            border: solid 1px #104010;
            width: 200px;
            outline: none;
        }
        
        #dimmer {
            position: fixed;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 100%;
            background-color: rgba(32, 32, 32, 0.7);
        }
        
        #loading_msg {
            color: white;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translateX(-50%);
        }
        
    </style>
    <p style="text-align: center;">displaying {{data.to_display}}<br>
        <a style="text-align: center;"href="{{url_for('static', filename='scanner/'+data.to_display)}}" 
            download="{{data.to_display}}">download</a><br>
        Click "This is it" below to add this file to the system
    </p>
    
    <p id="bad_format_msg" style="display: none; text-align: center;"></p>
    
    {% if not data.bad_format %}
        <object id ="pdf_embed" data="{{url_for('static', filename='scanner/'+data.to_display)}}" src="{{url_for('static', filename='scanner/'+data.to_display)}}">
            alt: This format is not supported. Download the file to view it.
        </object>
    {% endif %}
    
    <span id="left_btn" class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
    <span id="right_btn" class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
    
    <button id="this_btn" class="btn btn-success btn-lg" type="submit">THIS IS IT</button>
    
    <div id="dimmer" style="display: none;">
        <h2 id="loading_msg" >Loading . . .</h2>
    </div>
    
    
    
    <script>
        bad_format = {{data.bad_format}}
        if (bad_format) {
            $("#pdf_embed").css("display", "none");
            $("#bad_format_msg").html("This format is not supported. Opening in app...").css("display", "block");
        }
        
        $("#left_btn").click(function(){
            var file_num = {{data.file_num}};
            if (file_num === 0)
                return;
            show_loading();
            window.location.replace("{{url_for('view_pdf', file_num=(data.file_num - 1))}}");
        });
        
        $("#right_btn").click(function(){
            var file_num = {{data.file_num}};
            var max_file_num = {{data.max_file_num}}
            if (file_num === max_file_num)
                return;
            show_loading();
            window.location.replace("{{url_for('view_pdf', file_num=(data.file_num + 1))}}");
        });
        
        function show_loading() {
            $("#dimmer").fadeIn(400);
            // Start the loop
            setTimeout(nextFrame, 0);
            
            i = 0;
            function nextFrame() {
                loading_animation(i);
                i++;
                // Continue the loop in 0.6s
                setTimeout(nextFrame, 600);
            }
            
            function loading_animation(input) {
                switch(input%4) {
                    case 0:
                        $("#loading_msg").html("Loading")
                    break;
                    case 1:
                        $("#loading_msg").html("Loading .")
                    break;
                    case 2: 
                        $("#loading_msg").html("Loading . .")
                    break;
                    case 3: 
                        $("#loading_msg").html("Loading . . .")
                    break;
                }
                
            }
        }
    </script>
{% endblock %}


