{% extends "layout.html" %}
{% block body %}
    <style>
        html, body { overflow-y: hidden; }
        
        #pdf_embed {
            width: calc(100% - 20px);
            height: calc(100% - 80px);
            margin-right: auto;
            margin-left: auto;
            display: block;
            border: solid 1px #202020;
        }    
        
        
        
        #arrow_col {
            text-align: left;
        }
        
        #title_col {
            text-align: center;            
        }
        
        #preview_col {
            text-align: right;
        }
        
        #arrow_col, #title_col, #preview_col {
            position: relative;
            top: 20px;
            transform: translateY(-50%);        
        }
        
        #up_arrow, #pg_title, #preview { 
            margin: 0px; 
            padding: 0px;
        }
        
        #up_arrow {
            font-size: 25px;
            cursor: pointer;
            color: #333333;
            transition: color 0.2s ease;
        }
        
        #arrow_col:hover {
            color: #555555;
        }
        
        
    </style>
    <div class="row" style="padding: 10px 20px 30px 20px;">
        <div id="arrow_col" class="col-xs-2">
            <span id="up_arrow" class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
        </div>
        <div id="title_col" class="col-xs-8">
            <h3 id="pg_title"></h3>
        </div>
        <div id="preview_col" class="col-xs-2">
            <!--label id="preview" class="checkbox-inline">
                <input type="checkbox" id="preview_check"> <h4>Preview</h4>
            </label-->
        </div>
    </div>
        <!-- query to prevent caching -->
        <!--a style="text-align: center;"href="{{data.file_path}}?v={{ data.time }}" download="{{data.file_name}}">
            download
        </a-->        
    
    <p id="bad_format_msg" style="display: none; text-align: center;"></p>
    
    {% if not data.bad_format %}
        <object id ="pdf_embed" data="{{data.file_path | safe}}?v={{ data.time }}" >
            This format is not supported. Download the file to view it.
        </object>
    {% endif %}
    
    
    
    <script>
         $("#up_arrow").on("click", function () {
            window.location.href="/files/" + "{{data.dir_path | safe}}";
        });
        
        // title resizing
        replacement_done = false;
        function title_size() {
            if ( $(window).width() < 600 && $("#pg_title").html().length > 30 ) {
                $("#pg_title").replaceWith("<h4 id='pg_title'>" + $("#pg_title").html() + "</h4>");
                replacement_done = true;
            }
            else if (replacement_done) {
                $("#pg_title").replaceWith("<h3 id='pg_title'>" + $("#pg_title").html() + "</h3>");
                replacement_done = false;
            }
        }
        title_size();
        $(window).resize(function(){
            title_size();
        });
        
        $("#pg_title").html("{{data.file_name}}".replace(/_|.pdf/g, " "));
        bad_format = {{data.bad_format}}
        if (bad_format) {
            $("#pdf_embed").css("display", "none");
            $("#bad_format_msg").html("This format is not supported. Opening in app...").css("display", "block");
        }
    </script>
{% endblock %}


