{% extends "layout.html" %}
{% block body %}
    <style>
        html, body { overflow-y: hidden; }
        
        #pdf_embed {
            width: calc(80% - 20px);
            height: calc(100% - 105px);
            margin-right: auto;
            margin-left: auto;
            display: block;
            border: solid 1px #202020;
        }    
        
        #left_btn, #right_btn {
            position: fixed;
            top: 50%;
            font-size: 4em;
            cursor: pointer;
        }
        
        #left_btn {
            left: 10px;
        }
        
        #right_btn {
            right: 10px;
        }
        
        #this_btn {
            position: fixed;
            bottom: 13px;
            left: 50%;
            transform: translateX(-50%);
            border: solid 1px #104010;
            width: 200px;
            outline: none;
        }
        
        #dimmer {
            position: fixed;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 100%;
            background-color: rgba(32, 32, 32, 0.7);
        }
        
        #loading_msg {
            color: white;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translateX(-50%);
        }
        
        
        #arrow_col {
            text-align: left;
        }
        
        #title_col {
            text-align: center;            
        }
        
        #preview_col {
            text-align: right;
        }
        
        #arrow_col, #title_col, #preview_col {
            position: relative;
            top: 20px;
            transform: translateY(-50%);        
        }
        
        #up_arrow, #pg_title, #preview { 
            margin: 0px; 
            padding: 0px;
        }
        
        #up_arrow {
            font-size: 25px;
            cursor: pointer;
            color: #333333;
            transition: color 0.2s ease;
        }
        
        #arrow_col:hover {
            color: #555555;
        }
        
        
    </style>
    <div class="row" style="padding: 10px 20px 5px 20px;">
        <div id="arrow_col" class="col-xs-2">
            <span id="up_arrow" class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
        </div>
        <div id="title_col" class="col-xs-8">
            <h3 id="pg_title" >Choose file to add to </h3>
        </div>
        <div id="preview_col" class="col-xs-2">
            <!--label id="preview" class="checkbox-inline">
                <input type="checkbox" id="preview_check"> <h4>Preview</h4>
            </label-->
        </div>
    </div>
    
    
    
    
    <p style="text-align: center;">Viewing
        <a style="text-align: center;"href="{{url_for('static', filename='scanner/'+data.to_display)}}?v={{data.time}}" 
            download="{{data.to_display | safe}}">{{data.to_display}}</a><br>
        Click "This is it" below to add this file to the system
    </p>
    
    <p id="bad_format_msg" style="display: none; text-align: center;"></p>
    
    {% if not data.bad_format %}
        <object id ="pdf_embed" data="{{url_for('static', filename='scanner/'+data.to_display)}}?v={{data.time}}">
            This format is not supported. Download the file to view it.
        </object>
    {% endif %}
    
    <span id="left_btn" class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
    <span id="right_btn" class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
    
    <button id="this_btn" class="btn btn-success btn-lg" type="submit">THIS IS IT</button>
    
    <div id="dimmer" style="display: none;">
        <h2 id="loading_msg" >Loading . . .</h2>
    </div>
    
    
    
    <script>
        $("#pg_title").append("Home / " + localStorage.getItem("import_location").replace(/\//g, " / "));
        
        $("#up_arrow").on("click", function () {
            window.location.href="/files/" + localStorage.getItem("import_location");
        });
        
        
        // title resizing
        replacement_done = false;
        function title_size() {
            if ( $(window).width() < 600 && $("#pg_title").html().length > 30 ) {
                $("#pg_title").replaceWith("<h4 id='pg_title'>"+ $("#pg_title").html() + "</h4>");
                replacement_done = true;
            }
            else if (replacement_done) {
                $("#pg_title").replaceWith("<h3 id='pg_title'>" + $("#pg_title").html() + "</h3>");
                replacement_done = false;
            }
        }
        title_size();
        $(window).resize(function(){
            title_size();
        });
        
        bad_format = {{data.bad_format}}
        if (bad_format) {
            $("#pdf_embed").css("display", "none");
            $("#bad_format_msg").html("This format is not supported. Opening in app...").css("display", "block");
        }
        
        $("#left_btn").click(function(){
            var file_num = {{data.file_num}};
            if (file_num === 0)
                return;
            show_loading();
            window.location.replace("{{url_for('view_new_pdf', file_num=(data.file_num - 1))}}");
        });
        
        $("#right_btn").click(function(){
            var file_num = {{data.file_num}};
            var max_file_num = {{data.max_file_num}}
            if (file_num === max_file_num)
                return;
            show_loading();
            window.location.replace("{{url_for('view_new_pdf', file_num=(data.file_num + 1))}}");
        });
        
        function show_loading() {
            $("#dimmer").fadeIn(400);
            // Start the loop
            setTimeout(nextFrame, 0);
            
            i = 0;
            function nextFrame() {
                loading_animation(i);
                i++;
                // Continue the loop in 0.6s
                setTimeout(nextFrame, 600);
            }
            
            function loading_animation(frame) {
                switch(frame%4) {
                    case 0:
                        $("#loading_msg").html("Loading")
                    break;
                    case 1:
                        $("#loading_msg").html("Loading .")
                    break;
                    case 2: 
                        $("#loading_msg").html("Loading . .")
                    break;
                    case 3: 
                        $("#loading_msg").html("Loading . . .")
                    break;
                }
            }
        }
        
        $("#this_btn").on("click", function () {
            show_loading ();
            // move with ajax to prevent repeats
            // redirect to
            localStorage.getItem("import_location")
            // success message or temporary highlight
        });
    </script>
{% endblock %}


